<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <link rel="stylesheet" href="/assets/stylesheet.css" type="text/css">
</head>

<body>
  <div class=""> <span>This page also exists!</span>
    <span><%= name %> is your name!!</span>
  </div>
</body>

</html>